body {
    background-image: url('../img/wood.jpg');
    background-repeat: repeat;
    margin-top: 30px;
}

svg {
    display: block;
    margin: auto;
}

@media (max-width: 370px) {
    .col-sm-6 {
        padding: 0;
    }
}

.weapon-container {
    margin: 20px 0;
}

.refresh-btn:hover {
    cursor: pointer;
}

.star-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
